body{background:"photo.png"; margin:0; padding:0;
font: 20px/30px courier, Tahoma, sans-serif;}
a{text-decoration: none;}
/* Структура сайта
div.mid{width: 1000px; margin: 0 auto;}
div.header{height: 70px; background: #B8FFFA;} */

/* шапка сайта
div.topmenu{float: right; height: 70 px; line-height: 70px;}
div.topmenu a{margin: 0 0 0 10px; color: black; }
div.topmenu a:hover {color: red} /*эти стили только при наведелении*/
/* .topmenu:hover.lifestyle{display: block;}
.lifestyle{cursor: pointer;} */ */
ul {
    display: block;
    margin: auto;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    font-weight: normal;
    position: relative;
    font-size:25px;
    list-style-type: none;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: black;
    font-weight: 600;
    font-size: 32px;
    background-color: none;
    text-decoration: none;
    margin: 0 0 0 10px;
}
ul.menu > li > a:hover {
    background-color: rgb(248, 242, 230);
}
ul.submenu {
    display: none;
    /* position: absolute; */
    /* width: 120px;
    top: 37px;
    left: 0; */
    background-color: none;
    /* border: 1px solid none; */
}
ul.submenu > li > a {
    display: table;
    /*padding: 10px;*/
    color: black;
    background-color: none;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}